PORT=8002
CHALLONGE_API_KEY=your_challonge_api_key
CHALLONGE_USERNAME=your_challonge_username
PROXY_IP=your_proxy_ip
PROXY_PORT=your_proxy_port
PROXY_USERNAME=your_proxy_username
PROXY_PASSWORD=your_proxy_password
